body {
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    background-color: beige;
    padding: 1em;
    width: 50vw;
}