/* CSS Document */

/* FONTS */

/* EVERYTHING */
@layer base {
    /* RESETTING */
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        font-family: Verdana, Tahoma, sans-serif, sans-serif;
        margin: 0;
        padding: 0;
    }

    button,
    summary {
        cursor: pointer;
    }
}

/* CUSTOM PROPERTIES */
:root {
    /* color */
    --black: #111;
    --white: #eee;
    --hover-button: #92e497;
    --active-button: #30c000;
    --background: beige;
}

/* MEDIA */

/* dark mode */
/* @media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(37, 37, 31);
    }
    body {
        color: var(--white);
    }
    a {
        color: var(--white);
    }
} */

/* no animation in reduced mode */
@media (prefers-reduced-motion: reduce) {
    body {
        animation: none;
    }
}

@media (width > 1em) {
    body {
        background-color: var(--background);
        display: grid;
    }

    button {
        display: block;
        background-color: var(--black);
        padding: 2.5em;
        color: var(--white);
        text-decoration: none;
        text-align: center;
        border-radius: 0.5em;
    }

    /* HEADER */
    header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        width: 10em;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }

    /* CLIPBOARD */
    #clipboard {
        position: fixed;
        z-index: 1;
        top: 2em;
        right: 1em;
        overflow-x: hidden;
    }

    textarea {
        width: 20em;
        height: 50vh;
        padding: 0.5em;
        font-size: medium;
        vertical-align: top;
        border-radius: 0.5em;
    }

    #copy-to-clipboard {
        border: 1px solid var(--black);
        width: 20em;

        background-color: var(--black);
        padding: 1.5em;
        margin-top: 0.5em;
    }

    #copy-to-clipboard:after {
        content: "";
        -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23757575' width='24' height='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z'/></svg>");
        -webkit-mask-size: cover;
        background: none;
        background-color: var(--white);
        display: inline-block;
        height: 1.5em;
        width: 1.5em;
        vertical-align: middle;
    }

    button:hover,
    a:hover,
    #copy-to-clipboard:hover {
        background-color: var(--hover-button);
        color: var(--black);
    }

    #copy-to-clipboard:active {
        background-color: var(--active-button);
    }

    #messages {
        display: inline-block;
        font-size: large;
    }

    /* UP-DOWN */
    #up-down {
        position: fixed;
        z-index: 1;
        bottom: 4em;
        right: 1em;
        overflow-x: hidden;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
        flex-wrap: wrap;
        width: 20em;
    }

    #up-down button {
        width: 10em;
        padding: 1em;
    }

    nav ul li a {
        display: block;
        background-color: var(--black);
        padding: 2.5em;
        color: var(--white);
        text-decoration: none;
        text-align: center;
        border-radius: 0 0.5em 0.5em 0;
        /* width: 15em; */
    }

    /* main {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;

        height: 100vh;
    } */

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main section > article {
        /* display */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
        gap: 2em;

        /* sizes */
        width: 100vw;
        height: 100vh;
    }

    article > section {
        display: flex;
        flex-direction: column;
        gap: 1em;
        background-color: transparent;
        padding: 1.5em;
        width: 50vw;
        max-width: 55em;
        border-radius: 0.5em;
    }

    /* hidden h1 */
    h1 {
        /* https://www.a11yproject.com/posts/how-to-hide-content/ */
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    p {
        font-size: 100%;
    }
}

@media (width > 38em) {
}

@media (width > 57em) {
}

/* ANIMATIONS */
